.browse {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	overflow: hidden;
	position: relative;
	margin: 3vmin 0;
	--width: 0;
	--move: 0;
	--offset: 4vmin;
}
.browse > .left,
.browse > .right {
	position: absolute;
	top: 10vmin;
	border-radius: 1vmin;
	color: #fff;
	mix-blend-mode: difference;
}
.browse > .left svg,
.browse > .right svg {
	width: 8vmin;
	height: 8vmin;
	fill: currentColor;
}
.browse > .left {
	left: 10vmin;
}
.browse > .right {
	right: 10vmin;
}
.browse > ul {
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	flex: 1 0 auto;
	will-change: transform;
	transform: translateX(var(--move));
	transition: transform 700ms cubic-bezier(0.76, 0, 0.24, 1);
}
.browse > ul > li {
	width: calc(var(--width));
	flex-shrink: 0;
	display: flex;
	padding: var(--offset);
	border-radius: 3vmin;
	overflow: hidden;
}
.browse > ul > li > button {
	text-transform: uppercase;
	border-radius: 3vmin;
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	align-items: center;
	justify-content: center;
	padding: 2vmin;
	overflow: hidden;
	border: 0.5vmin solid black;
}
.browse > ul > li:nth-child(1n) > button {
	background: #fff;
	color: #000;
}
.browse > ul > li:nth-child(2n) > button {
	background: #000;
	color: #fff;
}
.browse > ul > li > button:hover svg {
	transform: translateY(-200%);
	opacity: 0;
}
.browse > ul > li > button:hover .name {
	transform: translateY(-150%) scale(1.2);
}
.browse > ul > li > button .name {
	width: 85vmin;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	font-size: 7vmin;
	margin: 0 0 4vmin 0;
	font-weight: bold;
	color: #fff;
	will-change: transform;
	transition: transform 300ms ease;
	mix-blend-mode: difference;
	-webkit-box-reflect: below -1vmin linear-gradient(to bottom, transparent, rgba(0,0,0,0.1));
}
.browse > ul > li > button svg {
	margin: 0 0 5vmin 0;
	width: 25vmin;
	height: 25vmin;
	fill: currentColor;
	will-change: transform;
	transition: transform 500ms ease, opacity 100ms ease;
}
@media screen and (max-width: 961px) {
	.browse {
		margin: 0;
	}
	.browse > .left,
	.browse > .right {
		top: calc(50% - 7.5vmin);
	}
	.browse > .left {
		left: 12vmin;
	}
	.browse > .right {
		right: 12vmin;
	}
	.browse > .left svg,
	.browse > .right svg {
		width: 15vmin;
		height: 15vmin;
	}
	.browse > ul > li > button {
		border-radius: 5vmin;
	}
	.browse > ul > li > button .name {
		width: 120vmin;
	}
}