.browse {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	overflow: hidden;
	position: relative;
	margin: 2vmin 0 10vmin;
	--width: 0;
	--move: 0;
	--offset: 4vmin;
}
.browse > .left,
.browse > .right {
	position: absolute;
	top: 10vmin;
	border-radius: 1vmin;
	color: #fff;
	mix-blend-mode: difference;
}
.browse > .left svg,
.browse > .right svg {
	width: 8vmin;
	height: 8vmin;
	fill: currentColor;
}
.browse > .left {
	left: 10vmin;
}
.browse > .right {
	right: 10vmin;
}
.browse > ul {
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	flex: 1 0 auto;
	will-change: transform;
	transform: translateX(var(--move));
	transition: transform 700ms cubic-bezier(0.76, 0, 0.24, 1);
}
.browse > ul > li {
	width: calc(var(--width));
	flex-shrink: 0;
	display: flex;
	padding: var(--offset);
}
.browse > ul > li > div {
	text-transform: uppercase;
	border-radius: 1vmin;
	display: flex;
	flex: 1 0 auto;
	align-items: center;
	justify-content: center;
	padding: 2vmin;
}
.browse > ul > li:nth-child(1n) > div {
	background: #000;
	color: #fff;
}
.browse > ul > li:nth-child(2n) > div {
	background: #fafafa;
	color: #000;
}
.browse > ul > li > div .name {
	width: 35vmin;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	font-size: 4vmin;
	font-weight: bold;
	-webkit-box-reflect: below -1vmin linear-gradient(to bottom, transparent, rgba(0,0,0,0.1));
}
@media screen and (max-width: 961px) {
	.browse > .left,
	.browse > .right {
		top: calc(50% - 7.5vmin);
	}
	.browse > .left {
		left: 12vmin;
	}
	.browse > .right {
		right: 12vmin;
	}
	.browse > .left svg,
	.browse > .right svg {
		width: 15vmin;
		height: 15vmin;
	}
}