nav {
	padding: 2vmin 4vmin;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav .menu {
	display: flex;
}
nav .menu > li {
	position: relative;
	white-space: nowrap;
}
nav .menu > li {
	margin: 0 0.5vmin;
}
nav .menu > li:first-child {
	margin: 0 0.5vmin 0 0;
}
nav .menu > li:last-child {
	margin: 0 0 0 0.5vmin;
}
nav .menu > li > button {
	font-size: 2.5vmin;
	padding: 1vmin 2vmin;
	border: 0.5vmin solid transparent;
	background: #fff;
	color: #14213d;
	border-radius: 1vmin;
	align-items: center;
	transition: border-color 250ms ease, color 250ms ease;
}
nav .menu > li > button svg {
	width: 4vmin;
	height: 4vmin;
	fill: currentColor;
}
nav .menu > li > button svg + span {
	margin-left: 2vmin;
}
nav .menu > li > button span + svg {
	margin-left: 2vmin;
}
nav .menu > li:hover > button {
	border-color: #000;
	color: #000;
}
nav .menu > li > div {
	position: absolute;
	top: 100%;
	min-width: 100%;
	padding: 1vmin 0 0;
	pointer-events: none;
	opacity: 0;
	transition: opacity 250ms ease;
	z-index: 1;
}
nav .menu > li > div > ul {
	background: #fff;
	filter: drop-shadow(0 0 0.5vmin rgba(0,0,0,0.3));
	border-radius: 1vmin;
	padding: 2vmin 0;
}
nav .menu.left > li > div {
	left: 0;
}
nav .menu.right > li > div {
	right: 0;
}
nav .menu > li > div > ul > li > button {
	font-size: 2vmin;
	padding: 1vmin 2vmin;
	align-items: center;
	justify-content: space-between;
	color: #586f7c;
}
nav .menu > li > div > ul > li > span {
	font-size: 2vmin;
	color: #adb5bd;
	padding: 2vmin 2vmin 4vmin;
	border-bottom: 0.3vmin solid #b8dbd9;
	margin-bottom: 2vmin;
	display: flex;
}
nav .menu > li > div > ul > li > button svg {
	width: 3vmin;
	height: 3vmin;
	fill: currentColor;
}
nav .menu > li > div > ul > li > button svg + span {
	margin-left: 2vmin;
}
nav .menu > li > div > ul > li > button span + svg {
	margin-left: 2vmin;
}
nav .menu > li:hover > div {
	pointer-events: inherit;
	opacity: 1;
}
nav .menu > li > div > ul > li > button.color-1 {
	background: #ecf8f8;
	color: #000;
}
nav .menu > li > div > ul > li > button:not(:disabled):not(.color-1):hover {
	background: #f8f7ff;
	color: #000;
}

nav .menu > li > div > ul > li > button.color-1:hover {
	background: #dbf5f5;
}

@media screen and (max-width: 961px) {
	nav {
		justify-content: center;
		align-items: center;
	}
	nav .menu > li > button {
		font-size: 5vmin;
		padding: 3vmin;
		border: 0.7vmin solid transparent;
	}
	nav .menu > li > button svg {
		width: 7vmin;
		height: 7vmin;
	}
	nav .menu > li > button svg + span {
		margin-left: 2.5vmin;
	}
	nav .menu > li > button span + svg {
		margin-left: 2.5vmin;
	}
	nav .menu > li > div {
		padding: 2vmin 0 0;
	}
	nav .menu > li > div > ul {
		padding: 2.5vmin 0;
	}
	nav .menu > li > div > ul > li > button {
		font-size: 4vmin;
		padding: 4vmin;
		color: #000;
	}
	nav .menu > li > div > ul > li > span {
		font-size: 4vmin;
		padding: 4vmin 4vmin 6vmin;
	}
	nav .menu > li > div > ul > li > button svg {
		width: 7vmin;
		height: 7vmin;
	}
	nav .menu > li > div > ul > li > button svg + span {
		margin-left: 3vmin;
	}
	nav .menu > li > div > ul > li > button span + svg {
		margin-left: 3vmin;
	}
}
