.profiles {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 4vmin;
}
.profiles > ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.profiles > ul li {
	/*border: 0.5vmin solid black;*/
	background: linear-gradient(90deg,#028796 50%,#d5b03f);
	padding: 0.5vmin;
	border-radius: 2vmin;
	margin: 2vmin;
	position: relative;
	min-width: 30%;
}
.profiles > ul li div {
	background: #fff;
	padding: 8vmin;
	border-radius: 1.5vmin;
}
.profiles > ul .delete,
.profiles > ul .edit {
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	width: inherit;
	margin: 2vmin;
}
.profiles > ul .edit {
	right: inherit;
	top: inherit;
	bottom: 0;
	left: 0;
}
.profiles > ul .delete svg,
.profiles > ul .edit svg {
	width: 4vmin;
	height: 4vmin;
	fill: currentColor;
	opacity: 0.5;
	transition: opacity 300ms ease;
}
.profiles > ul .edit:hover svg,
.profiles > ul .delete:hover svg {
	opacity: 1;
}
.profiles > ul .profile {
	font-size: 5vmin;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #1b669e;
	background: linear-gradient(90deg,#028796 50%,#d5b03f);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: border-color 250ms ease, color 250ms ease;
}
.profiles > ul .profile svg {
	width: 5vmin;
	height: 5vmin;
	margin-bottom: 2vmin;
	fill: currentColor;
	/*fill: url(#gradient-vertical);*/
}
.profiles > ul .profile:hover {
	color: #00BCD4;
}
