footer {
	padding: 2vmin 2vmin 4vmin;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
footer p {
	font-size: 2vmin;
}
footer > ul {
	display: flex;
	flex-direction: row;
	margin-right: 2vmin;
	margin-left: -2vmin;
}
footer > ul > li {
	margin: 0 2vmin;
	position: relative;
}
footer > ul > li:first-child {
	margin: 0 2vmin 0 0;
}
footer > ul > li:last-child {
	margin: 0 0 0 2vmin;
}
footer > ul > li > button {
	font-size: 2.5vmin;
	color: #000;
}
footer > ul > li > button svg {
	width: 3vmin;
	height: 3vmin;
	fill: currentColor;
	margin-right: 1vmin;
}
footer > ul > li > div {
	position: absolute;
	left: 0;
	bottom: 100%;
	padding: 1vmin 0;
	opacity: 0;
	pointer-events: none;
	z-index: 2;
}
footer > ul > li > div ul {
	display: flex;
	flex-direction: column;
	background: #fff;
	border-radius: 1vmin;
	filter: drop-shadow(0 0 0.5vmin rgba(0,0,0,0.2));
	transition: opacity 250ms ease;
}
footer ul > li:hover > div {
	pointer-events: inherit;
	opacity: 1;
}
footer > ul > li > div ul button {
	font-size: 2.5vmin;
	padding: 1vmin 2vmin;
}
footer ul > li > div > ul > li:first-child,
footer ul > li > div > ul > li:first-child > button {
	border-top-left-radius: 1vmin;
	border-top-right-radius: 1vmin;
}
footer ul > li > div > ul > li:last-child,
footer ul > li > div > ul > li:last-child > button {
	border-bottom-left-radius: 1vmin;
	border-bottom-right-radius: 1vmin;
}
footer ul > li > div > ul > li > button:hover {
	background: #000;
	color: #fff;
}
@media screen and (max-width: 961px) {
	footer {
		padding: 2vmin 4vmin 4vmin;
	}
}